@media (max-width: 900px),
(max-height: 750px) {
    .frame-img {
        display: none;
    }
    h1 {
        padding-bottom: unset;
    }
}

@media only screen and (max-width: 752px) {
    canvas {
        border: unset;
    }
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
    .btn img {
        height: 6vw;
        width: 6vw;
    }
    .choose-btn {
        height: 70%;
        width: 90%;
        font-size: 30px;
    }
    .choose-btn span {
        height: 70%;
        width: 90%;
    }
}

@media only screen and (max-width: 720px) and (orientation: portrait) {
    .please-rotate-screen {
        display: flex;
        backdrop-filter: blur(4px);
    }
}

@media (max-height: 480px) {
    .startscreen {
        background-size: 300%;
    }
}

@media (max-width: 640px),
(max-height: 428px) {
    .intro-screen h2 {
        font-size: 2rem;
    }
    .instructions td {
        font-size: 1.2rem;
    }
}

@media(max-width: 540px) {
    .backdrop {
        padding: 5px;
    }
    .intro-screen h2 {
        font-size: 1.5rem;
    }
    .intro-screen p {
        font-size: 1.2rem;
    }
}

@media(max-width: 480px),
(max-height: 340px) {
    .intro-screen h2 {
        font-size: 1.2rem;
    }
    .instructions td {
        padding: 4px;
    }
    .intro-screen p {
        font-size: 1rem;
    }
}

@media (max-height: 380px) {
    .settingmenu p {
        margin-bottom: 0;
    }
    .settingmenu button {
        padding: 6px;
    }
    .settingmenu button img {
        height: 18px;
        width: 18px;
    }
}

@media (max-width: 450px),
(max-height: 300px) {
    .settingmenu p {
        margin-bottom: 0px;
        font-size: 18px;
    }
    .settingmenu button {
        padding-bottom: 4px;
    }
    #settingsScreen a {
        font-size: 12px;
    }
    .lvl-btn {
        font-size: 3rem;
        padding: 0 1.5rem;
    }
}

@media (max-width: 420px),
(max-height: 300px) {
    .intro-screen h2 {
        font-size: 1rem;
    }
    .instructions td {
        font-size: 1rem;
    }
    .key {
        font-size: 0.6rem;
    }
    .key-size {
        height: 20px;
        width: 20px;
    }
    .key img {
        height: 10px;
        width: 10px;
    }
    .top-key {
        margin-bottom: -4px;
    }
    .links {
        font-size: .8rem;
        gap: 10px;
    }
}

@media(max-width: 360px) {
    .intro-screen h2 {
        margin: 4px;
    }
    .instructions td {
        padding: 2px;
    }
    .backdrop {
        padding: 0;
    }
}

@media (max-width: 340px) {
    .btn {
        border: unset;
        background: unset;
        object-fit: cover;
        padding: unset;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .choose-btn {
        font-size: 25px;
    }
    .settingmenu p {
        font-size: 16px;
        margin-top: 4px;
    }
    .settingmenu button {
        padding-top: 4px;
    }
    .intro-screen h2 {
        display: none;
    }
    .instructions td {
        font-size: .8rem;
        padding: 1px;
    }
    .links {
        font-size: .7rem;
    }
}

@media(max-width: 330px),
(max-height: 212px) {
    #settingsScreen a {
        font-size: 10px;
    }
}

@media (max-height: 900px) {
    body {
        justify-content: flex-start;
    }
}

@media only screen and (max-height: 660px) {
    h1 {
        font-size: 2rem;
        margin: 0 !important;
        margin-bottom: 1rem !important;
    }
}

@media only screen and (max-height: 570px) {
    #h1 {
        display: none;
    }
}

@media only screen and (max-height: 512px) {
    canvas {
        border: unset;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
    .bodyimage {
        width: 100%;
        background-color: black;
    }
    .bodyimage img {
        display: none;
    }
}