.bottom-panel {
    display: flex;
    justify-content: space-between;
}

.btn {
    z-index: 100;
    border: unset;
    background: unset;
    object-fit: cover;
    padding: 10px 15px;
}

.btn img {
    z-index: 100;
    object-fit: cover;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    backdrop-filter: blur(1px) brightness(0.8);
}

.arrow-left {
    transform: rotate(180deg);
}

.arrow-up {
    transform: rotate(-90deg);
}

.arrow-down {
    transform: rotate(90deg);
}

.toggleSpeaker {
    filter: brightness(0.6);
}

.swipe-panel {
    display: flex;
    flex-grow: 1;
}


/* .fin-slap {
    object-fit: cover;
}

.fin-slap img {
    object-fit: cover;
    object-position: 0% 100%;
    background-color: orange;
    border-radius: 100%;
    border-inline: outset;
} */

#activatePoison img {
    border: 2px solid rgb(240, 231, 197);
    padding: 1px;
}