body {
    z-index: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'LuckiestGuy', Arial, Helvetica, sans-serif;
    color: rgb(240, 231, 197);
    overflow-y: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    z-index: 0;
    background-color: black;
    display: block;
}

h1 {
    font-size: 3.5rem;
    letter-spacing: 3px;
    text-shadow: 4px 2px 2px rgb(240, 231, 197, 0.4);
    padding-bottom: 50px;
}

.bodyimage {
    z-index: -2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bodyimage img {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 100%;
}

.frame-container {
    position: relative;
}

.frame {
    z-index: -1;
}

.frame-img {
    z-index: -1;
    position: absolute;
    top: -162px;
    left: -109px;
    height: 760px;
    width: 910px;
}

.canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    padding: 8px;
}

.top-panel {
    display: flex;
    justify-content: flex-end;
}

.top-panel-child {
    display: flex;
    gap: 30px;
}

.bottom-panel {
    display: flex;
    justify-content: space-between;
}

.btn {
    z-index: 100;
    border: unset;
    background: unset;
    object-fit: cover;
    padding: 10px;
}

.btn img {
    z-index: 100;
    object-fit: cover;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    backdrop-filter: blur(1px) brightness(0.8);
}

.fullscreen-img {
    border-radius: unset !important;
    backdrop-filter: unset !important;
}

.fin-slap {
    object-fit: cover;
}

.fin-slap img {
    object-fit: cover;
    object-position: 0% 100%;
    background-color: orange;
    border-radius: 100%;
    border-inline: outset;
}

.arrow-left {
    transform: rotate(180deg);
}

.arrow-up {
    transform: rotate(-90deg);
}

.arrow-down {
    transform: rotate(90deg);
}

.toggleSpeaker {
    filter: brightness(0.6);
}

.swipe-panel {
    display: flex;
    flex-grow: 1;
    border: 2px solid red;
    margin-right: -8px;
    margin-left: -8px;
}

.d-none {
    display: none;
}

.w-100 {
    width: 100vw !important;
}

.h-100 {
    height: 100vh !important;
}

.toggleFullscreen {
    display: flex;
    align-items: center;
}

@media (max-height: 900px) {
    body {
        justify-content: flex-start;
    }
}

@media (max-width: 900px),
(max-height: 750px) {
    .frame-img {
        display: none;
    }
    h1 {
        padding-bottom: unset;
    }
}

@media only screen and (max-width: 752px) {
    canvas {
        border: unset;
    }
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
    .btn img {
        height: 6vw;
        width: 6vw;
    }
}

@media only screen and (max-height: 660px) {
    h1 {
        font-size: 2rem;
        margin: 0 !important;
        margin-bottom: 1rem !important;
    }
}

@media only screen and (max-height: 570px) {
    h1 {
        display: none;
    }
}

@media only screen and (max-height: 512px) {
    canvas {
        border: unset;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
    .bodyimage {
        width: 100%;
        background-color: black;
    }
    .bodyimage img {
        display: none;
    }
}

@media (max-width: 340px) {
    .btn {
        border: unset;
        background: unset;
        object-fit: cover;
        padding: unset;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }
}