body {
    z-index: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'LuckiestGuy', Arial, Helvetica, sans-serif;
    color: #f0e7c5;
    overflow-y: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    z-index: 0;
    background-color: black;
    display: block;
}

h1 {
    font-size: 3.5rem;
    letter-spacing: 3px;
    text-shadow: 4px 2px 2px rgb(240, 231, 197, 0.4);
    padding-bottom: 50px;
}

button {
    font-family: 'LuckiestGuy', Arial, Helvetica, sans-serif;
    color: #f0e7c5;
}

.bodyimage {
    z-index: -2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bodyimage img {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 100%;
}

.frame-container {
    position: relative;
}

.frame {
    z-index: -1;
}

.frame-img {
    z-index: -1;
    position: absolute;
    top: -162px;
    left: -109px;
    height: 760px;
    width: 910px;
}

.canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
}


/* Top panel */

.top-panel {
    display: flex;
    justify-content: flex-end;
}

.top-panel-child {
    display: flex;
    gap: 30px;
}

.fullscreen-img {
    border-radius: unset !important;
    backdrop-filter: unset !important;
}

.toggleFullscreen {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Start screen */

.startscreen {
    background: url('../img/3. Background/Mesa de trabajo 1.png') no-repeat center center;
    background-size: 120%;
}

.startBtn-panel {
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 15px;
}

.choose-btn {
    background-color: unset;
    border: unset;
    font-size: 40px;
    background-color: #531A82;
    border-radius: 20px;
    border: 4px solid #f0e7c5;
    margin: 20px 0;
    height: 70%;
    width: 90%;
}

.choose-btn:hover {
    cursor: pointer;
    filter: brightness(0.9);
}


/* Win screen */

.win-screen {
    background: url('../img/6.Botones/Tittles/You win/Mesa de trabajo 1.png') no-repeat center center;
    background-size: 120%;
    backdrop-filter: blur(8px);
    background-color: rgb(0, 0, 0, 0.3);
}


/* Lose screen */

.lose-screen {
    background: url('../img/6.Botones/Tittles/Game Over/Recurso 13.png') no-repeat center 30%;
    background-size: 80%;
    backdrop-filter: blur(8px);
    background-color: rgb(0, 0, 0, 0.3);
}


/* Intro1 screen */

#introscreen1 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#introscreen1 h2 {
    font-size: 2rem;
}

#introscreen1 p {
    font-size: 1.5rem;
}

.backdrop {
    backdrop-filter: brightness(0.8) blur(2px);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}


/* Intro2 Screen */

#introscreen2 {
    margin-left: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#introscreen2 button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#introscreen2 h2 {
    font-size: 2rem;
}

.instr-panel {
    font-size: 30px;
    margin-bottom: 20px;
    gap: 30px;
}

.introscreen2 span {
    font-family: 'LuckiestGuy', Arial, Helvetica, sans-serif;
    color: #f0e7c5;
}

.intro-1-span {
    font-size: 30px;
    width: 200px;
}

.top-key {
    margin-bottom: 4px;
}

.key {
    border: unset;
    border: 1px solid #f0e7c5;
    border-radius: 4px;
    background-color: #531A82;
}

.key-size {
    height: 30px;
    width: 30px;
}

.space-key {
    width: 100px;
}

.key img {
    display: block;
    height: 20px;
    width: 20px;
}

.back-key {
    padding: 5px;
    position: absolute;
    bottom: 7.5px;
    right: 7.5px;
}

.back-key:hover {
    cursor: pointer;
    filter: brightness(0.8);
}


/* Intro3 Screen */

#introscreen3 {
    font-size: 1.5rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.intro-Poison-img {
    height: 20px;
    width: 20px;
}


/* Please rotate screen */

.please-rotate-screen {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100 !important;
    background-color: rgb(0, 0, 0, 0.3);
}

.rotate-device {
    -webkit-animation: spin 3s ease-in-out infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}


/* General CSS classes */

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.d-none {
    display: none !important;
}

.w-100 {
    width: 100vw !important;
}

.h-100 {
    height: 100vh !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}